@mixin header-bg-lg {
    .header {
        background-image: url(/images/bg-lg.svg);
    }
}

@mixin header-bg-sm {
    .header {
        background-image: url(/images/bg-sm.svg);
    }
}

@mixin header-bg-md {
    .header {
        background-image: url(/images/bg-md.svg);
    }
}

@mixin phone-bg-lg {
    .phone {
        background-image: url(/images/phone.svg);
    }
}

@mixin page1-bg-lg {
    .page1 {
        background-image: url(/images/bg-pattern.png);
    }
}

@mixin page1-bg-md {
    .page1 {
        background-image: url(/images/bg-pattern.png);
    }
}

@mixin page1-bg-sm {
    .page1 {
        background-image: url(/images/bg-pattern.png);
    }
}