@media (min-width: 320px) and (max-width: 479px){
	
	.mid-screen{
		padding: 0 5px;
		width: 310px !important;
	}
	.thank_yous_header{
		padding: 0 10px !important;
	}
	.thank_yous_title_a{
		padding: 0 10px !important;
	}
	.thank_yous_title{
		font-size: .9rem !important;
	}
	.tiger{
		max-width: 300px !important;
		padding: 10px !important;
	}
	.onboarding-graphic{
		width: 60% !important;
	}
	.onboarding-title{
		font-size: 25px !important;
	}
	.onboarding-text-content{
		font-size: 1rem;
	}
	.onboarding-button-bound{
		width: 150px !important;
	}
	.onboarding-button{
		padding: 5px !important;
	}
	.secondary-nav{
		position: fixed;
	}
	.secondary-nav+section{
		padding-top: 121px;
	}
	.download-buttons-secondary{
		display: none !important;
	}
	.story-popup{

		.story-wrapper{
			width: 100vw !important;
			max-width: 100vw !important;
			height: 100vh !important;
			max-height: 100vh !important;
			border-radius: 0 !important;
			flex-direction: column;
			overflow: auto !important;
		}
		.story-image{
			max-width: 100%;
			max-height: 100%;
		}
		.story-thankyou-container{
			height: calc(100vh - 20px);
			width: auto !important;
			padding-bottom: 60px !important;
			overflow: auto;
		}
		.mid_entry_text{
			display: flex !important;
			min-height: calc(100% - 180px) !important;
			height: initial !important;
		}
		.mid_entry_bottom{
			position: relative !important;
			left: -20px !important;
			bottom: -10px !important;
		}
		.story-thankyou-container{
			padding-bottom: 0px !important;
		}
		
	}
	.story-popup.with-image{

		.story-wrapper{
			overflow: hidden !important;
		}
		.story-thankyou-container{
			opacity: .9;
			width: auto !important;
			transform: translate(0px, calc(100vh - 100px));
			transition: all .3s ease;
			overflow: visible;
		}
		.story-thankyou-container.open{
			overflow: auto !important;
		}
		.story-modal-close-icon.chevron{
			transform: none !important;
		}
		.story-modal-close-icon.chevron::before,
		.story-modal-close-icon.chevron::after{
			width: 75%;
		}
		.story-modal-close-icon.chevron::before{
			left: 7px;
		}
		.story-modal-close-icon{
			transform: translate(0px, calc(100px - 100vh));
			position: fixed !important;
			z-index: 10;
			transition: all .3s ease;
		}
		.story-image-container{
			position: absolute;
			min-height: 100vh;
		}
	}
	.story-image.zoomed{
		max-width: 150% !important;
		max-height: 150% !important;
	}
}

@media (max-width: 480px) {

	.onboarding-bound {
		flex-direction: column;
		/*padding: 20px;*/
	}
	.onboarding-graphic {
		width: 65%;
	}
	.onboarding-title {
		font-size: 30px;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.onboarding-text-container {
		width: 100vw !important;
	}
	.divider {
		width: 40%;
		margin: 0 auto;
	}
	.trying-bound {
		padding: 20px 20px 0;
	}
	.trying {
		padding: 0;
	}
	.dog {
		display: none;
	}
	.start-thanking {
		flex-direction: column;
		padding-top: 20px;
	}
	.footer-bound {
		flex-direction: column;
		align-items: center;
	}
	.footer-links {
		text-align: center;
	}
	.footer-links:nth-of-type(even){
		display: none;
	}
	.left-footer {
		align-items: center;
		flex-direction: column !important;
		margin-bottom: 15px;
	}
	.download2 {
		width: 45%;
		margin: 0 10px;
	}
	.download-buttons-secondary {
		display: flex;
		justify-content: center !important;
	}
	.team-members-bound {
		flex-direction: column;
	}
	.how-it-works-bound {
		flex-direction: column;
	}
	.how-it-works-element {
		width: 100%;
	}
	.thank_yous_title_a{
		padding: 0 10px !important;
	}
	.thank_yous_header {
		padding-top: 0;
		padding-bottom: 0;
	}
	.right_side_entry {
		display: none;
	}
	.troy-qoute{
		padding: 20px;
	}
	/*.story-image{
		max-height: 100%;
		max-width: 100%;
	}*/
}

@media (min-width: 481px) and (max-width: 768px) {
	.onboarding-bound {
		/*flex-direction: column;*/
		/*padding: 20px;*/
	}
	.onboarding-graphic {
		width: 50%;
	}
	.onboarding-title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.onboarding-text-content{
		padding: 0 5vw;
	}
	.divider {
		width: 40%;
		margin: 0 auto;
	}
	.trying-bound {
		padding: 20px 20px 0;
	}
	.trying {
		padding: 0;
	}
	.dog {
		display: none;
	}
	.start-thanking {
		flex-direction: column;
	}
	.download2 {
		margin: 0 10px;
	}
	.start {
		margin-top: 0;
	}
	.footer-bound {
		flex-direction: column;
		align-items: center;
	}
	.footer-links {
		text-align: center;
	}
	.team-members-bound {
		flex-direction: column;
	}
	.how-it-works-bound {
		flex-direction: column;
	}
	.how-it-works-element {
		width: 400px;
	}
	.footer-links {
		padding: 20px;
	}
	.thank_yous_header {
		padding-top: 0;
		padding-bottom: 0;
	}
	.right_side_entry {
		display: none;
	}
	.who-are{
		flex-direction: column;
	}
	.troy-qoute{
		padding: 20px;
	}
}

@media (min-width: 769px) {
	.onboarding-bound {
		flex-direction: row;
	}
	.fullpage {
		width: 100vw;
	}
	.onboarding-graphic {
		width: 100%;
	}
	.onboarding-title {
		font-size: 2.5rem;
	}
	.onboarding-text-container {
		padding: 40px;
	}
	.trying {
		padding: 40px 40px 0;
	}
	.download2 {
		margin-left: 20px;
	}
	.start {
		margin-right: 20px;
	}
	.dog {
		width: 300px;
		padding-right: 20px;
	}
	.team-members-bound {
		flex-direction: row;
	}
	.team-members {
		width: 25%
	}
	.team-member-graphic {
		width: 100%;
	}
	.how-it-works-bound {
		flex-direction: row;
		
	}
	.how-it-works-element {
		width: 33%
	}
	.footer-links {
		padding-right: 20px;
	}
	.thank_yous_header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.right_side_entry {
		align-items: center;
	    display: flex;
	    flex-direction: column;
		justify-content: space-between;
	}

	.right_side_header {
		width: 100%;
		text-align: center;
		background-color: #f4f8fb;
	}

	.right_side_ty {
		padding: 0 40px 0;
	}

	.arrows {
		width: 50px;
		height: 50px; 
	}

	.right_side_arrows {
		display: flex;
		justify-content: space-between;
		width: 85%;
		padding-bottom: 30px;
	}
	.modal_map {
		display: none !important;
	}
	.story-modal-close-icon:hover{
		transform: scale(1.2) rotate(90deg);
	}
}

@media (min-width: 769px) and (max-width: 1023px){
	.onboarding-graphic{
		width: 50% !important;
	}
	.onboarding-text-container{
		padding: 20px;
	}
}

@media (min-width: 769px) and (max-width: 955px) {
	.footer-bound {
		flex-direction: column;
		align-items: center;
	}
	.right_side_entry {
		display: none;
	}
	
}
 @media (max-width: 1024px){
	 .entry{
		 max-width: 285px !important;
		 /*padding: 20px 15px 30px;*/
	 }
	 .mid_entry_photo{
		 max-width: 285px !important;
	 }
	 .latest_thanks_entries{
	 	justify-content: center;
	 }
 }

.fullpage {
    height: 100vh;
}

.flex {
    display: flex;
}

.flex--center {
    justify-content: center;
    align-items: center;
}

.bg-image--full {
    background-size: cover;
}

.bg-image--pattern {
	background-repeat: repeat;
}

.bg-image--fixed {
    background-attachment: fixed;
}

.onboarding-bound {
	display: flex;
	justify-content: center;
    align-items: center;
    max-width: 1024px;
}

.trying-bound {
	display: flex;
	justify-content: center;
    align-items: center;
    max-width: 1024px;
}

.onboarding-graphic {
	max-width: 588px;
	padding: 20px;
}

.divider {
  border-bottom: 5px solid #2C3133;
  height: 5px;
}

.text-center {
	text-align: center;
}

.tiger {
	width: 100%;
	max-width: 400px;
	padding: 20px;
}

.meet-the {
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 30px;
}

.team-members-bound {
	display: flex;
	justify-content: center;
    align-items: center;
}

.how-it-works-bound {
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100vw;
}
.how-it-works-element {
	/*padding: 20px;*/
}

.how-it-graphics {
	width: 100%;
}

.team-members {
	padding: 10px;
	justify-content: center;
}

.testi-outside {
	padding-top: 40px;
	padding-bottom: 40px;
}

.testimonial-bound {
	border-right: 4px solid white;
	padding-right: 40px;
	margin-right: 40px;
}

.start-thanking {
	padding-top: 40px;
	padding-bottom: 40px;
}

.left-footer {
	flex-direction: row;
	display: flex;
}

.footer-bound {
	padding: 30px;
	justify-content: space-between;
}

.navigation-bound {
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: space-between;
}

.number {
	background: #364347;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
	margin: -40px auto 0;
}

.number-circle {
	color: white;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.description {
	padding: 20px;
	background-color: white;
	height: 200px;
	margin-top: -5px;
}

.contact-div-bound {
	width: 100%;
}

.contact-div {
	width: 100%;
}

.contact-us-form {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.input-area {
	border-radius: 10px;
	border: 1px solid #979797;
	padding: 20px;
	font-size: 20px;
}

.textarea-message {
	height: 300px;
	border-radius: 10px;
	border: 1px solid #979797;
	padding: 20px;
	font-size: 20px;
}

.start-thanking {
	display: flex;
	justify-content: center;
    align-items: center;
    max-width: 1024px;
}

.download-buttons-secondary {
	justify-content: space-between;
	margin: 0 auto;
}

.right-footer-bound {
	width: 240px;
	display: flex;
	justify-content: space-between;
}

.onboarding-text-container {
	width: 90vw;
}

.thank_yous_header {
	display: flex;
	flex-direction: row;
}

.thank_yous_title_a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 20px 0 20px;
	border-radius: 20px;
}
 
.thank_yous_title {
	margin: 0;
	padding: 5px;
}

.thank_yous_active {
	background: #23B08D;
}

.top_entry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.entry {
	padding: 20px 15px 30px;
	max-width: 300px;
}

.latest_thanks_entries {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	max-width: 1020px;
    width: 100%;
}

.left_top_entry {
	display: flex;
	flex-direction: row;
	height: 60px;
	align-items: center;
}

.left_top_entry_photo {
	background-image: url(/images/pic-venz.svg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	background-color: #999;;
	min-width: 50px;
	height: 50px;
	border-radius: 25px;
}

.left_top_entry_text {
	padding-left: 10px;
}

.right_top_entry {
	display: flex;
	align-items: center;
}

.mid_entry {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: space-between;
	border-radius: 10px;
}

.mid_entry_photo {
	flex: 0 0 50%;
	width: 300px;
	background-color: transparent;
	background-size:  cover;
	background-repeat:  no-repeat;
	background-position: center center;
	border-radius: 10px 10px 0 0;
}

.mid_entry_photo_empty {
	width: 300px;
}

.mid_entry_photo2 {
	background-image: url(/images/sample3.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	background-color: #999;
}

.mid_entry_photo1 {
	background-image: url(/images/sample1.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.mid_entry_photo3 {
	background-image: url(/images/sample2.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.mid_entry_photo4 {
	background-image: url(/images/sample4.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.mid_entry_text {
	padding: 20px;
}

.mid_entry_bottom {
	display: flex;
	flex-direction: row;
	padding: 8px 15px 20px 15px;
}

.mid_entry_bottom_photo {
	background-image: url(/images/pic-venz.svg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	background-color: #999;;
	min-width: 35px;
	height: 35px;
	border-radius: 25px;
	border: 2px solid #fff;
}

.entries_section {
	padding-bottom: 20px;
	min-height: 70vh;
}

.map_area {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.left_side_map {
	background-image: url(/images/bgMap.png) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	background-color: #999;
	position: relative;
	flex: 1;
}

.pin1 {
	position: absolute;
	bottom: 10%;
	right: 20%;
}

.pin2 {
	position: absolute;
    bottom: 20%;
    right: 50%;
}

.pin3 {
	position: absolute;
	bottom: 10%;
	left: 10%;
}

.pin4 {
	position: absolute;
	bottom: 80%;
	left: 10%;
}

.pin5 {
	position: absolute;
	right: 15%;
	bottom: 75%;
}

.pin6 {
	position: absolute;
	top: 15%;
	right: 50%;
}

.pin7 {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

.pin8 {
	position: absolute;
	bottom: 40%;
	left: 60%;
}

.pin9 {
	position: absolute;
	bottom: 55%;
	left: 25%;
}

.pin10 {
	position: absolute;
	bottom: 60%;
	left: 10%;
}

.people-org-map {
	display: flex;
	flex-direction: column;
}

.modal_map {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	flex-direction: column;	
}

.arrow_area_modal {
	justify-content: space-between;
    width: 300px;
    display: flex;
}

.close_graphic {
	width: 30px;
	height: 30px;
	position: fixed;
    top: 0;
    right: 0; 
    margin: 20px
}
.page-bg-image-pattern{
	background-image: url('/images/bg-pattern.png');
}
.story-popup{
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,.8);
	display: none;

	.story-wrapper{

		background-color: #fafafa;
		height: 95vh;
		display: flex;
		border-radius: 10px;
		max-width: 95vw;
		max-height: 600px;
		overflow: hidden;

		.mid_entry_text{
			min-height: 100px;
			padding: 20px 0px !important;
		}
		.mid_entry_text.ss-container{
			display: block;
			.mid_entry_text_text{
				min-height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.mid_entry_text_text::before,
			.mid_entry_text_text::after{
				content: "";
				display: block;
				width: 100%;
				height: 100px;
				position: sticky;
				transition: all .3s ease;
			}
			.mid_entry_text_text::before{
				margin-bottom: -100px;
				top: 0;
			}
			.mid_entry_text_text::after{
				margin-top: -100px;
				bottom: 0;
			}
		}
		.mid_entry_text.scrolled-top{
			.mid_entry_text_text::before{
				display: none !important;
			}
			.mid_entry_text_text::after{
				display: block !important;
			}
		}
		.mid_entry_text.scrolled-middle{
			.mid_entry_text_text::before{
				display: block !important;
			}
			.mid_entry_text_text::after{
				display: block !important;
			}
		}
		.mid_entry_text.scrolled-bottom{
			.mid_entry_text_text::before{
				display: block !important;
			}
			.mid_entry_text_text::after{
				display: none;
			}
		}
		.mid_entry_text:not(.scrolled-top):not(.scrolled-bottom):not(.scrolled-middle){
			.mid_entry_text_text::before,
			.mid_entry_text_text::after
			{
				display: none;
			}
		}
		.story-image-container{
			max-width: 600px;
			overflow: hidden;
			background-color: rgba(0,0,0,.9);
			display: none;
		}
		.story-image{
			display: none;
			max-height: 100vh;
			max-width: 100vw;
			transition: all .3s ease;
		}
		.story-thankyou-container{
			width: 350px;
			padding: 20px;
			position: relative;
			.mid_entry_text{
				height: 75%;
				/*display: flex;*/
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.mid_entry_bottom{
				position: absolute;
				left: 0;
				bottom: 0;
			}

			.a_thank{
				color: rgba(238, 251, 253, 0.8);
			}

			.a_thank_name{
				color: #fafafa;
			}

			.story-modal-close-icon{
				position: absolute;
				right: 20px;
				height: 20px;
				width: 20px;
				transition: all .3s;
				cursor: pointer;
				z-index: 5;
			}

			.story-modal-close-icon::before,
			.story-modal-close-icon::after{
				display: block;
				height: 5px;
				background-color: #fff;
				position: relative;
				border-radius: 5px;
				content: "";
			}

			.story-modal-close-icon::before{
				transform: rotate(-45deg);
				top: 5px;
			}

			.story-modal-close-icon::after{
				transform: rotate(45deg);
			}
		}
		.story-thankyou-container.bg_green{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, rgb(85, 208, 178) 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, rgb(141, 212, 115) 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_blue{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #58a6e6 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #4bc9c8 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_yellow{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #a8d365 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #efcf57 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_red{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #f77855 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #ef5b63 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_purple{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #e788c7 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #d091e7 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_gray{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #b6bdc5 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #6d7480 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_orange{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #fcc154 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #f98851 0%, rgba(255,255,255,0) 50%);
			}
		}
		.story-thankyou-container.bg_pink{
			.mid_entry_text_text::before{
				 background: linear-gradient(to bottom, #e888c8 0%, rgba(255,255,255,0) 50%);
			}
			.mid_entry_text_text::after{
				 background: linear-gradient(to top, #cf90e6 0%, rgba(255,255,255,0) 50%);
			}
		}

	}

}
.story-popup.with-image{
	.story-image-container{
		display: flex;
	}
}


