.bg-bluegreen {
    background-color: #39ADAA;
}

.bg-yellow {
    background-color: #F5D182;
}

.bg-green {
    background-color: #23B08D;
}

.bg-white {
	background-color: #ffffff;
}

.bg-yellowgreen {
	background-color: #C5D946;
}

.bg-darkgreen {
	background-color: #364347;
}

.bg-none {
	background-color: rgba(0,0,0,0);
}

.bg-lightgray {
	background-color: #E4E8EB;
}

.white {
    color: #FAFAFA;
}

.gray {
    color: #2C3133;
}

.bg-clear-bluegreen {
	background-color: rgba(54, 67, 71, 0.8);
}

.another-gray {
	color: #364347;
}

.bg_blue {
	background-image: url(/images/bgBlue.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_yellow {
	background-image: url(/images/bgYellow.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_red {
	background-image: url(/images/bgRed.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_purple {
	background-image: url(/images/bgPurple.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_gray {
	background-image: url(/images/bgGray.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_green {
	background-image: url(/images/bgGreen.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_orange {
	background-image: url(/images/bgOrange.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_pink {
	background-image: url(/images/bgPink.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}

.bg_mapmap {
	background-image: url(/images/bgMap.png) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;
			background-color: #999;
}