@import 'reset';
@import 'layout';
@import 'sections/sections';

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(slideFromRight) {
  0%   { transform: translateX(50px); }
  100% { transform: translateX(0px); }
}

@include keyframes(typing) {
  0%   { background-color: rgba(57,173, 170, 1);
    	 box-shadow: 24px 0px 0px 0px rgba(57,173, 170,0.2), 
                48px 0px 0px 0px rgba(57,173, 170,0.2); }
  25%  { background-color: rgba(57,173, 170, 0.4);
    	 box-shadow: 24px 0px 0px 0px rgba(57,173, 170,2), 
                48px 0px 0px 0px rgba(57,173, 170,0.2); }
  75%  { background-color: rgba(57,173, 170, 0.4);
    	 box-shadow: 24px 0px 0px 0px rgba(57,173, 170,0.2), 
                48px 0px 0px 0px rgba(57,173, 170, 2); }
}

@include keyframes(fadeIn) {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}

@include keyframes(staggerDown) {
  0%   {
    opacity: 0;
    transform: translateY(-30px); 
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 768px){
    .nav-menu {
        top:0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 2;
        height: 100vh;
        display: none;
        position: fixed;
        text-align: center;
        transition: all .3s;
        background: #364347;
        background-size: 50%;
        flex-direction: column;
        background-position: bottom;
        background-repeat-y: no-repeat;
        justify-content: center !important;
        background-image: url(/images/bg-pattern.png);
    }
    .nav-menu-a{
        font-family: 'Fredoka One',sans-serif !important;
    }
}

@media (max-width: 480px) {
    @include header-bg-sm();
    @include phone-bg-lg();

    .nav-menu {
    	display: none;
    	width: 100%;
        transform: none !important;
    }
/*    .nav-menu.open{
    	display: flex;
    }*/
    .nav-menu-list{
    	transition: all .3s;
    	padding: 0px !important;
    	@include animation('slideFromRight .3s');
    }
    .nav-menu-a{
    	padding: 10px;
    }
    .download-buttons {
    	display: none;
    }
    .mid-screen {
    	display: flex;
    }
    .hamburger {
    	display: inline-block;
    }
    nav {
    	padding-top: 0;
    	padding-bottom: 15px;
    }
    .header-text {
		margin-left: 0;
		padding: 20px;
		align-items: center;
		margin-top: 0;
	}
	.header__image {
		display: none;
	}
	.phone {
		background: none;
	}
	.header__subtitle {
		max-width: none;
		text-align: center;
		margin-top: 0;
	}
	.full__image {
		width: 80%;
	}
	.header__title {
		text-align: center;
	}
	.down-button {
		margin-top: 90vh;
	}

}

@media (min-width: 481px) and (max-width: 768px) {
    @include header-bg-md();
    @include phone-bg-lg();
    body{
        transition: all .3s;
    }
/*    body.half{
    	transform: translateX(-50vw);
    	overflow: hidden;
    }*/
    .nav-menu {
    	width: 50%;
        transform: translate(50vw, 0px);
    }
    .nav-menu.open{
    	display: flex;
        box-shadow: -50vw 0px 0px rgba(0,0,0,0.5);
    }
    .nav-menu-list{
    	min-width: 200px;
    	transition: all .3s;
    	padding: 0px !important;
    	@include animation('slideFromRight .3s');
    }
    .nav-menu-a{
    	padding: 10px;
    	font-size: 25px !important;
    }
    .download-buttons {
    	display: none;
    }
    .mid-screen {
    	display: flex;
    }
    .hamburger {
    	display: inline-block;
    }
    .hamburger.close{
        transform: translateX(50vw);
    }
    nav {
    	padding-top: 0;
    	padding-bottom: 15px;
    }
    .header-text {
		margin-left: 0;
		padding: 20px;
		align-items: center;
		margin-top: 0;
	}
	.header__image {
		display: none;
	}
	.phone {
		background: none;
	}
	.header__subtitle {
		max-width: none;
		text-align: center;
		margin-top: 0;
	}
	.full__image {
		width: 70%
	}
	.header__title {
		text-align: center;
	}
	.down-button {
		margin-top: 90vh;
	}
    
}

@media (min-width: 769px) {
    @include header-bg-lg();
    @include phone-bg-lg();

    .nav-menu {
    	display: flex;
    }
    .mid-screen {
		display: none;
	}
	.hamburger {
		display: none;
	}
	nav {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.header-text {
		margin-left: 10%;
		width: 600px;
		align-items: left;
		margin-top: -20px;
	}
	.header__image {

	}
	.phone {
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 70%;
	}
	.header__subtitle {
		max-width: 350px;
	}
	.full__image {
		display: none;
	}
	.down-button {
		margin-top: 85vh;
	}
}

@media (min-width: 769px) and (max-width: 955px) {
	@include header-bg-md();
    @include phone-bg-lg();

    .download-buttons {
    	display: none;
    }
    .mid-screen {
    	display: flex !important;
    }
    .hamburger {
		display: none;
	}
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
nav {
	display: flex;
}

.main-nav {
	flex-direction: column;
	position: absolute;
	position: fixed;
	width: 100%;
}

.secondary-nav {
	flex-direction: column;
	width: 100%;
    z-index: 2;
}

.navigation-bound-home {
	
	justify-content: space-between;
}

.nav-right {
	padding-right: 30px;
	flex-direction: row;
  	display: flex;
  	align-items: center;
}

.nav-left {
	padding-left: 30px;
}
.nav-title-a {
	text-decoration: none;
}

.nav-title {
	font-size: 20px;
	color: white;
}

.nav-menu-list {
	padding-left: 25px;
}

.nav-menu-a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	font-family: 'Avenir Book', sans-serif;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.nav-menu-a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav-menu-a:hover:after,
.nav-menu-a.active:after  {
	width: 100%;
	background: white;
}

.nav-menu {
    justify-content: space-between;
    list-style-type: none;
}

.nav-text {
	font-weight: 800;
	font-size: 18px;
	color: white;
	padding-right: 30px;
	font-family: 'Avenir Book', sans-serif;
}

.down-button {
	position: fixed;
	width: 100vw;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.down-button-img {
	width: 50px;
	padding-bottom: 30px;
}

.header-text{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.header__subtitle {
	width: 100%;
}

.header__image {
	padding-top: 20px;
}

.hamburger {
    position: relative;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    cursor: pointer;
    z-index: 2;
}

.hamburger:before,
.hamburger:after{
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
    transition: all .3s;
}

.hamburger.close{
	border: 0;
}

.hamburger.close:before{
    transform: rotate(45deg);
}

.hamburger.close:after {
    transform: rotate(-45deg);
}

.mid-screen {
	justify-content: space-between;
	width: 320px;
	margin: 0 auto;
}

.d-button {
	width: 150px;
}

.download {
	padding-left: 30px;
}
.stories-loader-icon{
	width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: typing 1s linear infinite alternate;
    position: relative;
    left: -24px;
    margin: 20px 0px;
}
.failed-to-load{
	display: none;
	width: 90vw;
	flex-direction: 'column';
	padding: 10vh 5vw;
}
.failed-to-load-img{
	width: 90vw;
	max-width: 400px
}
.try-again-text{
    color: #333;
}
.load-more-button{
	display: none;
}
.load-stories-text{
	font-size: 20px;
}
.load-stories-button-a{
	background: linear-gradient(to right, #23b08d, #39ADAA);
	padding: 15px 40px;
	text-decoration: none;
	border-radius: 50px;
	cursor: pointer;
}
.load-stories-button-text{
	color: #fff;
	padding: 0;
	margin: 0;
}
.load-more-button-wrapper{
    min-height: 56px;
}
.entry{
    cursor: pointer;
    transition: all .3s ease;
    @include animation('staggerDown .5s ease-in');
}
.story-popup.open{
    @include animation('fadeIn .3s ease-in');
}