@import 'reset';
@import 'layout';
@import 'sections/sections';

@media (max-width: 480px) {
    @include header-bg-sm();
    @include phone-bg-lg();

    .nav-menu {
    	display: none;
    }
    .download-buttons {
    	display: none;
    }
    .mid-screen {
    	display: flex;
    }
    .hamburger {
    	display: inline-block;
    }
    nav {
    	padding-top: 0;
    	padding-bottom: 15px;
    }
    .header-text {
		margin-left: 0;
		padding: 20px;
		align-items: center;
		margin-top: 0;
	}
	.header__image {
		display: none;
	}
	.phone {
		background: none;
	}
	.header__subtitle {
		max-width: none;
		text-align: center;
		margin-top: 0;
	}
	.full__image {
		width: 80%;
	}
	.header__title {
		text-align: center;
	}
	.down-button {
		margin-top: 90vh;
	}

}

@media (min-width: 481px) and (max-width: 768px) {
    @include header-bg-md();
    @include phone-bg-lg();

    .nav-menu {
    	display: none;
    }
    .download-buttons {
    	display: none;
    }
    .mid-screen {
    	display: flex;
    }
    .hamburger {
    	display: inline-block;
    }
    nav {
    	padding-top: 0;
    	padding-bottom: 15px;
    }
    .header-text {
		margin-left: 0;
		padding: 20px;
		align-items: center;
		margin-top: 0;
	}
	.header__image {
		display: none;
	}
	.phone {
		background: none;
	}
	.header__subtitle {
		max-width: none;
		text-align: center;
		margin-top: 0;
	}
	.full__image {
		width: 70%
	}
	.header__title {
		text-align: center;
	}
	.down-button {
		margin-top: 90vh;
	}
    
}

@media (min-width: 769px) {
    @include header-bg-lg();
    @include phone-bg-lg();

    .nav-menu {
    	display: flex;
    }
    .mid-screen {
		display: none;
	}
	.hamburger {
		display: none;
	}
	nav {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.header-text {
		margin-left: 10%;
		width: 600px;
		align-items: left;
		margin-top: -20px;
	}
	.header__image {

	}
	.phone {
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 70%;
	}
	.header__subtitle {
		max-width: 350px;
	}
	.full__image {
		display: none;
	}
	.down-button {
		margin-top: 85vh;
	}
}

@media (min-width: 769px) and (max-width: 955px) {
	@include header-bg-md();
    @include phone-bg-lg();

    .download-buttons {
    	display: none;
    }
    .mid-screen {
    	display: flex !important;
    }
    .hamburger {
		display: none;
	}
}

body {
	overflow-x: hidden;
}
nav {
	display: flex;
}

// .main-nav {
// 	flex-direction: column;
// 	position: absolute;
// 	position: fixed;
// 	width: 100%;
// }

.secondary-nav {
	flex-direction: column;
	width: 100%;
}

.navigation-bound-home {
	
	justify-content: space-between;
}

.nav-right {
	padding-right: 30px;
	flex-direction: row;
  	display: flex;
  	align-items: center;
}

.nav-left {
	padding-left: 30px;
}
.nav-title-a {
	text-decoration: none;
}

.nav-title {
	font-size: 20px;
	color: white;
}

.nav-menu-list {
	padding-left: 25px;
}

.nav-menu-a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	font-family: 'Avenir Book', sans-serif;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.nav-menu-a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav-menu-a:hover:after {
	width: 100%;
	background: white;
}

.nav-menu {
    justify-content: space-between;
    list-style-type: none;
}

// .nav-text {
// 	font-weight: 800;
// 	font-size: 18px;
// 	color: white;
// 	padding-right: 30px;
// 	font-family: 'Avenir Book', sans-serif;
// }

// .down-button {
// 	position: absolute;
// 	position: fixed;
// 	width: 100vw;
// 	align-items: center;
// 	display: flex;
// 	justify-content: flex-end;
// 	flex-direction: column;
// }

// .down-button-img {
// 	width: 50px;
// 	padding-bottom: 30px;
// }

// .header-text{
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// }

// .header__subtitle {
// 	width: 100%;
// }

// .header__image {
// 	padding-top: 20px;
// }

.hamburger {
    position: relative;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}

.mid-screen {
	justify-content: space-between;
	width: 320px;
	margin: 0 auto;
}

.d-button {
	width: 150px;
}

.download {
	padding-left: 30px;
}
