@import 'sections/sections';

@media (min-width: 769px) {
    @include page1-bg-lg();
}

@media (min-width: 481px) and (max-width: 768px) {
    @include page1-bg-md();
}

@media (max-width: 480px) {
	@include page1-bg-sm();
}

