@media (max-width: 480px) {
  .footer-links {
    font-weight: 100;
    color: white;
    font-family: 'Avenir Book', sans-serif;
  }
  
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer-links {
    font-weight: 100;
    color: white;
    font-family: 'Avenir Book', sans-serif;
  }
}

@media (min-width: 769px) {
  .footer-links {
    font-weight: 400;
    color: white;
    font-family: 'Fredoka One', cursive;
  }
}

//

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'),
       url('/fonts/raleway/Raleway-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'),
       url('/fonts/fredoka/FredokaOne-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Avenir Book';
  font-weight: 100;
  src: local('Avenir Book'),
       url('/fonts/avenir/AvenirLTStd-Book.otf') format('opentype')
}

h1 {
	font-family: 'Fredoka One', cursive;
}

h2 {
	font-family: 'Avenir Book', sans-serif;
	font-weight: 100;
  color: #2C3133;
  font-size: 1.2rem;
  line-height: 1.4;
}

h3 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

h4 {
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
  text-align: center;
}

.onboarding-title {
  font-family: 'Fredoka One', cursive;
  color: #2C3133;
}

.onboarding-button-bound {
  width: 180px;
  margin: 20px auto 0;
}

.onboarding-a {
  text-decoration: none;
}

.onboarding-button {
  border: 4px solid white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: white;
}

.testimonial {
  color: white;
  font-family: 'Avenir Book', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: right;
}

.bigger {
  font-size: 30px;
}

.label {
  font-family: 'Fredoka One', cursive;
  color: #364347;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.onboarding-button-bound-b {
  width: 180px;
  margin: 20px 0;
}

.onboarding-b {
  text-decoration: none;
}

.onboarding-button-b {
  border: 4px solid #C5D946;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: #C5D946;
}

.thank_yous_title_a {
  text-decoration: none;
}

.thank_yous_title {
  font-size: 1.0rem;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 700;
  color: #38ADA9;
}

.thank_yous_active_title {
  color: #ffffff !important;
}

.a_thank {
  margin: 0;
  color: rgba(39,55,57,.5);
  font-size: 15px;
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
}

.a_thank_name {
  margin: 0;
  color: #273739;
  font-size: 20px;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 700;
}

.mid_entry_text_text {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
}

.mid_entry_text_text_map {
  margin: 0;
  text-align: center;
  color: #273739;
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
}

.text_no_image {
  font-size: 1.4rem;
}

.from {
  margin: 0;
  color: #ffffff;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.from_map {
  margin: 0;
  color: #273739;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.time_from {
  margin: 0;
  color: #fff;
  color: rgba(255,255,255,.5);
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
  font-size: 10px;
}

.time_from_map {
  margin: 0;
  color: #273739;
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
  opacity: .50;
  font-size: 10px;
}

.mid_entry_bottom_text {
  padding-left: 10px;
}

.geo_thanking_map {
  color: #384648;
  font-family: 'Avenir Book', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.right_side_header_text {
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 700;
  color: #38ADA9;
  padding: 10px;
}