<template id="story-template">
    <div class="entry">
        <div class="top_entry">
            <div class="left_top_entry">
                <div class="left_top_entry_photo">
                </div>
                <div class="left_top_entry_text">
                    <p class="a_thank">A Thank You for:</p>
                    <p class="a_thank_name">Recipient Name</p>
                </div>
            </div>
            <div class="right_top_entry">
                <a href="#">
                    <img src="/images/dotdotdot.png"/>
                </a>
            </div>
        </div>
        <div class="mid_entry">
            <div class="mid_entry_photo">
            </div>
            <div class="mid_entry_text">
                <p class="mid_entry_text_text">Thank you message</p>
            </div>
            <div class="mid_entry_bottom">
                <div class="mid_entry_bottom_photo">
                </div>
                <div class="mid_entry_bottom_text">
                    <p class="from">From User</p>
                    <p class="time_from">Time elapsed</p>
                </div>
            </div>
        </div>
    </div>
</template>